
{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
	
	input[type=submit] {
	  background-color: #e5ece5;
	  color: black;
	  padding: 12px 20px;
	  width: 200px;
	  border: none;
	  border-radius: 4px;
	  cursor: pointer;
	  font-size: 2rem;
	}
input#createaccount:checked {
    background-color: #253849;
    box-shadow: inset 0px 0px 0px 5px #ffffff;
    transition: 0.5s;
}

input#createaccount{
    position: relative;
    margin-left: 4px;
    width: calc(3em - 4px);
    height: calc(3em - 4px);
    float: left;
    margin: 4px 10px 2px 1px;
    border-radius: 50%;
    vertical-align: middle;
    border: 5px solid #295282;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}
</style>
<div align="center">
<div style="font-size: 3rem; font-family: 'Times New Roman', Times, serif;" align='center'> Add Songs to Playlist : {{playlist_name}}</div>
<div id="space"></div>
<div class="container">
<form action='/playlists' method="post">

	<input type="hidden" name="playlist_name" value={{playlist_name}}>
	<ul class="w3-ul w3-card-4"  style="width:30%">

	{% for song in songs %}
	<div class="row">
		<div class="col-35"> </div>
	<li>	<input class="checkbox" id="createaccount" type="checkbox" name="selected-songs" value={{song.songid}}> <label style="font-size: 2rem;font-family: 'Times New Roman', Times, serif;">{{ song.song_name }}</label> </input>
	</li>
	</div>

	{% endfor %}

</ul>
	<div id="space"></div>
	<div class="row">
		<div class="col-35"> </div>
		<input type="submit" value="Submit">
	</div>
<div id="space"></div>
</form>
</div>
</div>
<script>
const interval = setInterval(function() {
	let red = Math.floor(Math.random() * 256) + 64;
  let green = Math.floor(Math.random() * 256) + 64;
  let blue = Math.floor(Math.random() * 256) + 64;
  
  // Construct a color withe the given values
  let bgColor = "rgb(" + red + "," + green + "," + blue + ")";
  
  // Set the background to that color
  document.body.style.background = bgColor;
   }, 2000);
</script>
{% endblock %}
