{% extends 'base.html' %}

{% block content %}
<style>
	* {
	  box-sizing: border-box;
	}
	
	input[type=text], select, textarea {
	  width: 100%;
	  padding: 12px;
	  border: 1px solid #ccc;
	  border-radius: 4px;
	  resize: vertical;
	}
	

	
	input[type=submit] {
	  background-color: #e5ece5;
	  color: black;
	  padding: 12px 20px;
	  width: 200px;
	  border: none;
	  border-radius: 4px;
	  cursor: pointer;
	  font-size: 2rem;
	}
	
	input[type=submit]:hover {
	  background-color: #45a049;
	}
	
	.container {
	  margin-left: 600px;
	  border-radius: 5px;
	  background-color: pink;
	  padding: 20px;
	  width:50%;
	  height:400px;
	  align-self: center;
	}
	
	.col-25 {
	  float: left;
	  width: 25%;
	  margin-top: 6px;
	}
	

</style>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div align='center'>
	<div style="font-size: 3rem; font-family: 'Times New Roman', Times, serif;" align='center'>My Playlists</div>
	<div id="space"></div>
		<ul class="w3-ul w3-card-4"  style="width:30%">
		{% for p_name in playlists %}	

		<li class="w3-padding-small" > <a href={{ url_for('songs_page', playlist_name=p_name) }} style="font-family: fantasy;font-size: 30px;">{{p_name}}</a></li>

		<a href = '/delete/{{p_name}}'>Delete</a>


		{% endfor %}
		</ul>
</div>
		

<div id='space'></div>
<div align='center'>
		<div style="box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.2); width:55%;height: 300px;" >
		
		<div style="font-size: 3rem; font-family: 'Times New Roman', Times, serif;" align='center'>Create a New Playlist!</div>
		<br>
		<br>


		<form onsubmit="myFunction()" id = "myForm" method="post">
			<div class="row">
				<div class="col-25"> </div>
		 		 <div class="col-25">
					<label><div style="font-size: 2rem; font-family: 'Times New Roman', Times, serif;" align='center'>Enter the Playlist Name:   </div> </label>
		  		</div>
		  		<div class="col-25">
					<input type="text" id = "playlist_name" name = "playlist_name" placeholder="New Playlist name..">
		  		</div>
		  		<div class="col-25" style="font-size: 1rem;color: red;">
					  {{message}}
				</div>
		  		<div class="col-25"> </div>
			</div>
		
		<div id="space"></div>
		
		<div class="row">
			<input type="submit" value="Submit">
			<br>
		</div>
	</div>
	</div>
</form>

<script>
		
	function myFunction() 
	{
		name = document.getElementById("playlist_name").value;
		var song_list = {{ playlists|tojson }} ; 
		// while(song_list.includes(name))
		// 	name=prompt("This playlist already exists, please enter a new name : ");
		//alert(name);
		form = document.getElementById("myForm");
		path = "/addsong/".concat(name);
		form.setAttribute("action", path);
	}

</script>
{% endblock %}
